#player {
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 320px;
    background: antiquewhite;
    border: 1px solid black;
    margin: 15px;
    padding: 15px;
    
    .layout {
        background-color: aliceblue;
        align-items: center;
        justify-content: center;
        border: 1px black solid;
        padding: 15px;
        margin: 15px;
        width: 100%;
        height: 100%;

        .playlist {
            border: 1px black solid;
            padding: 15px;
            margin: 15px;
            width: 100%;
            height: 100%;

            .media {
                background-color: aquamarine;
                border: 1px black solid;
                padding: 15px;
                margin: 15px;
                width: 100%;
                height: 100%;
            }
        }
    }
}

#player .layout .title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0em;
}

li.screen-group {
    clear: both;
    min-height: 4em;
    margin-top: 0.5em;
    border-top: black solid 1px;
    padding-top: 0.3em;
}

li.screen-group>#dates {
    float: right;
    margin: 0em;
    padding: 0.2em;
    background: linear-gradient(-45deg, linen, transparent);
}

li.screen-group #lPublished,
li.screen-group #swPublished,
li.screen-group #ePublished {
    color: darkgreen;
    text-align: end;
    font-size: smaller;
    margin: 0em;
}
li.screen-group #lPublished {
    color: darkgoldenrod;
}
li.screen-group #swPublished {
    color: darkslateblue;
}
li.screen-group #ePublished {
    color: darkgreen;
}

li.screen-item>#status {
    color: orange;
    float: right;
}

li.screen-item.completed {
    color: green;
}

li.screen-item.errored {
    color: red;
}

li.on-hover {
    cursor: pointer;
}

li.on-hover:hover {
    font-weight: bolder;
}

li.screen-item.active {
    background-color: darkolivegreen;
    color: white;
    font-weight: bolder;
    font-size: larger;
    list-style: disc;
}
li.screen-item.active::marker {
    /* content: "-> "; */
    color: darkolivegreen;
}


li.on-hover:visited {
    color: purple;
}


#error {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin: 0.5em;
}